name: 'Staging - Build and Deploy'

on:
  push:
    branches: 
      - staging

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'staging'
    - name: Setup .NET Core
      uses: actions/setup-dotnet@master
      with:
        dotnet-version: 3.1.100
    - name: Build
      run: dotnet build ./SoftUniDemo/SoftUniDemo.csproj --configuration Release
    - name: 'Run Tests'
      run: dotnet test ./SoftUniDemoTests/SoftUniDemoTests.csproj
    - name: Publish
      run: |
        dotnet publish ./SoftUniDemo/SoftUniDemo.csproj -c Release -o ./SoftUniDemoStaging
    - name: Deploy
      uses: azure/webapps-deploy@v1
      with: 
        app-name: staging-softuni-demo
        publish-profile: ${{ secrets.PUBLISH_PROFILE_STAGING }}
        package: './SoftUniDemoStaging'
